name: Django CI/CD Docker

on:
  push:
    branches: ["master", "main"]
  pull_request:
    branches: ["master", "main"]
  workflow_dispatch:

jobs:
  # --- JOB 1: LINT (Build & Check Code Quality) ---
  lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10"]
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: pip
          
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install flake8
          
      - name: Lint with flake8
        run: |
          # Kiểm tra lỗi cú pháp và format code
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

  # --- JOB 2: TEST (Run Django Tests) ---
  test:
    runs-on: ubuntu-latest
    needs: lint # Chỉ chạy Test nếu job Lint đã thành công
    strategy:
      matrix:
        python-version: ["3.10"]
    
    env:
      DJANGO_SETTINGS_MODULE: core.settings
      SECRET_KEY: "secret_for_testing"

    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: pip # Tận dụng cache từ job trước để cài nhanh hơn
          
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          
      - name: Test Accounts App
        run: python manage.py test accounts

      - name: Test Shop App
        run: python manage.py test shop

      - name: Test Cart App
        run: python manage.py test cart

      - name: Test Orders App
        run: python manage.py test orders

      - name: Test Blog App
        run: python manage.py test blog

  # --- JOB 3: CD (Build & Push Docker) ---
  docker-build:
    runs-on: ubuntu-latest
    needs: test #Chỉ chạy CD khi Test đã OK 
    if: github.event_name == 'push' && (github.ref == 'refs/heads/master' || github.ref == 'refs/heads/main')
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/ktpm-sshop:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/ktpm-sshop:${{ github.sha }}