name: Django CI/CD Docker

on:
  push:
    branches: ["master", "main"]
  pull_request:
    branches: ["master", "main"]
  workflow_dispatch:

jobs:
  # --- JOB 1: CI (Test & Lint) ---
  build-and-test:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: ["3.10"]

    env:
      DJANGO_SETTINGS_MODULE: core.settings
      SECRET_KEY: "secret_for_testing" # Key tạm để chạy test

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: pip
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install flake8
      - name: Lint with flake8
        run: |
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
      - name: Run Tests
        run: |
          python manage.py test

  # --- JOB 2: CD (Build & Push Docker) ---
  docker-build:
    runs-on: ubuntu-latest
    needs: build-and-test # QUAN TRỌNG: Chỉ chạy CD khi CI (test) đã OK
    # Chỉ chạy CD khi push vào nhánh chính, không chạy khi tạo Pull Request
    if: github.event_name == 'push' && (github.ref == 'refs/heads/master' || github.ref == 'refs/heads/main')
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          # Đổi 'ten-user-cua-ban' và 'ten-image' cho phù hợp
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/ktpm-sshop:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/ktpm-sshop:${{ github.sha }}